@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e5ecf3;
  font-family: "Mont";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Mont";
  src: url("./font/Mont-Trial-Regular.eot");
  src: url("./font/Mont-Trial-Regular.eot?#iefix") format("embedded-opentype"),
    url("./font//Mont-Trial-Regular.woff2") format("woff2"),
    url("./font//Mont-Trial-Regular.woff") format("woff"),
    url("./font//Mont-Trial-Regular.ttf") format("truetype");
}

.line-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* globals.css */

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
